/* Smooth transitions */
body,
.bg-white,
input,
select {
  transition: all 0.3s ease;
}

/* Dark mode */
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode .bg-white {
  background-color: #444444 !important;
}

body.dark-mode .text-gray-700 {
  color: #dddddd !important;
}

body.dark-mode input,
body.dark-mode select {
  background-color: #555555;
  color: #ffffff;
  border-color: #888888;
}
